# P3. Exploration SQL

Le répertoire `/db` contient une base de données SQLite3 `olympics.sqbpro` reprenant les résultats des épreuves des jeux d'été pour une période donnée (cf P1 & P2).

On s'intéresse dans le cadre de cette partie P3 à l'exploration via SQL des résultats des JO d'été (table : `summer`).

---

### Question 1: Qu'est ce que SQL ?

### Définition :

SQL veut dire Langage de requête structurée. (en anglais : Structured Query Language).

### En clair :

Comme dans la vie, pour que des personnes puissent se comprendre, elles doivent parler le même langage et bien en informatique, c’est pareil.

Pour que les différents logiciels et le moteur de base de données (donc les SGBD = **Système de Gestion de Bases de Données**) puissent se comprendre, ils utilisent un langage appelé SQL. SQL est prvivilégié pour les SGBD de type **R** à savoir relationnelle (qui suivent le modèle relationnel(*) - 

Ce langage est complet. Il va être utilisé pour :

    1) le LDD (langage de définition de données) destiné à créer ou supprimer des objets dans la base de données (tables, contraintes, etc.)

    2) le LCD (langage de contrôle de données) qui gère les utilisateurs d'une base de données ainsi que leurs droits sur les objets (droit de consultation, modification etc.)

    3) le LMD (langage de manipulation de données) destiné à manipuler les données contenues dans les tables, c'est-à-dire à manipuler les lignes de celles-ci. Les 4 opérations possibles sont :

        - La création de lignes
        - La lecture de lignes
        - L'actualisation de lignes
        - La suppression de lignes

Ce langage est structuré (comme son nom l’indique), c’est à dire que la syntaxe est toujours la même et respecte des normes très précises.

Il a évolué dans le temps depuis sa création en 1970 (SEQUEL par Donald Chamberlin et Raymond Boyce) jusqu'à l'actuelle version SQL3.

sources : [culture informatique](https://www.culture-informatique.net/cest-quoi-sql/) - [OpenClassRooms](https://openclassrooms.com/fr/courses/4449026-initiez-vous-a-lalgebre-relationnelle-avec-le-langage-sql/4538696-comprenez-les-bases-de-donnees-sql) - Wikipedia

(*) Le modèle relationnel est basé sur deux instruments puissants : l’algèbre relationnelle (c'est-à-dire le concept mathématique de relation en théorie des ensembles) et la notion de produit cartésien. Ce modèle définit une façon de représenter les données, les opérations qui peuvent être effectuées ainsi que les mécanismes pour préserver la consistance des données. E.F Codd a décrit les principes et la conception de modèle relationnel dans son livre « A relational model of data for large shared data banks » en 1970.

### Question 2: Qu'est ce que SQLite 3 ? Avantages et/ou Inconvénients ?

SQLite3 est un système de base de données qui a la particularité de fonctionner sans serveur, on dit aussi "standalone" ou "base de données embarquée". On peut l'utiliser avec beaucoup de langages : PHP, Python, C# (.NET), Java, C/C++, Delphi, Ruby...

L'intérêt c'est que c'est très léger et rapide à mettre en place, on peut s'en servir aussi bien pour stocker des données dans une vraie base de données sur une application pour smartphone (iPhone ou Android), pour une application Windows, ou sur un serveur web.

Une base de données SQLite est bien plus performante et facile à utiliser que de stocker les données dans des fichiers XML ou binaires, d'ailleurs ces performances sont même comparables aux autres SGBD fonctionnant avec un serveur comme MySQL, Microsoft SQL Server ou PostgreSQL.

Comme tous les programmes, SQLite évolue au fil du temps. SQLite 2 est une ancienne version de SQLite, elle est devenue obsolète lors de la sortie de SQLite 3 en 2004. La dernière release de SQLite 2 date de décembre 2005 (2.8.17).

La version 3 apporte de meilleures performances ainsi que son lot utile comme :

Avantages:
- Il présente la particularité d'être directement intégré aux programmes et dans l'application utilisant sa bibliothèque logicielle alors que ses concurrents comme MySQL reproduisent de leur côté le schéma classique client-serveur.
- La base de données est intégralement stockée dans un fichier indépendant du logiciel.
- Auto increment (très utile pour les clé primaires à base d'entiers générés automatiquement)
- Stockage plus efficace (SQLite2 stocke tous les types sous forme de chaine de caractère : entiers, chaines, BLOB... ce qui occupe de l'espace disque inutilement)
- Support des clés étrangères

Inconvénients:
- Ecritures atomiques (avec SQLite, un seul processus peut écrire dans la base)
- Pas de réplication(La réplication consiste à créer des copies d'un serveur de base de données MySQL de façon à pouvoir répartir la charge (load-balancing) et ainsi pouvoir répondre à de fortes demandes, sur les sites à grande audience (comme facebook par exemple)).

### Question 3: Donner des exemples d'autres formats de fichier pouvant être utilisé pour fournir des données similaires

- XML (XML est simplement une méthode pour représenter les données. Celles-ci sont écrites entre des balises ou sous forme d'attributs, et l'ensemble est écrit sous forme d'un arbre)
- JSON (JavaScript Object Notation est un format de données textuelles dérivé de la notation des objets du langage JavaScript. Il permet de représenter de l’information structurée comme le permet XML)

### Question 4: Quel est le type (texte ou binaire) du fichier base de données SQLite3?

Le fichier `olympics.sqbpro` est un fichier ... binaire, on ne peut pas l'ouvrir comme un fichier texte dans un éditeur de texte.

### Question 5: Donner les caractéristiques de la table `summer` ?

La table Summer est composée de de 9 colonnes : 8 sont de format TEXT et 1 (Year) au format INTEGER (nombre entier)

![P3-Q5](Images/P3-Q5.png)

---
### Question 6: Combien d'enregistrements possède la table `summer` ?

### Commande à exécuter :

```SQL
SELECT count(*)
FROM summer
```
Résultat: 31165

![P3-Q6](Images/P3-Q6.png)

### Question 7: Quelle période des JO couvre ce fichier de résultats ?

### Commande à exécuter :

```SQL
SELECT DISTINCT Year,City
FROM summer
```
Résultat: de 1896 à 2012

![P3-Q7](Images/P3-Q7.png)

### Question 8: Indiquer les années et villes des olympiades ?

### Commande à exécuter :

```SQL
SELECT DISTINCT Year,City
FROM summer
```
Résultat:
```SQL
Year	City
1896	Athens
1900	Paris
1904	St Louis
1908	London
1912	Stockholm
1920	Antwerp
1924	Paris
1928	Amsterdam
1932	Los Angeles
1936	Berlin
1948	London
1952	Helsinki
1956	Melbourne / Stockholm
1960	Rome
1964	Tokyo
1968	Mexico
1972	Munich
1976	Montreal
1980	Moscow
1984	Los Angeles
1988	Seoul
1992	Barcelona
1996	Atlanta
2000	Sydney
2004	Athens
2008	Beijing
2012	London
```
![P3-Q8](Images/P3-Q8.png)

### Question 1:

## Question 1: Combien la France a remporté de médailles d’or aux JO de 1984 ? - (Christophe)
### Commande à exécuter :

```SQL
SELECT count(Medal)
FROM summer
WHERE Country = "FRA" AND Year = 1984 AND Medal = "Gold"
```
Réponse : 21

![P3-QG1](Images/P3-QG1.png)

---

## Question 2: Quel pays a le plus d’athlètes (toutes années confondues) ? (Matthias)
### Commande à exécuter :

```SQL
SELECT Country, count(DISTINCT Athlete)
FROM summer
GROUP BY Country
ORDER BY count(DISTINCT Athlete) DESC
LIMIT 1
```
Réponse : USA ; 3149

![P3-QG2](Images/P3-QG2.png)

___

## Question 3: En 2012 combien de médailles le Japon a t-il gagné ? (Théo)
### Commande à exécuter :

```SQL
SELECT count(Medal)
FROM summer
WHERE Year = 2012 AND Country = "JPN"
```
Réponse : 84
    
![P3-QG3](Images/P3-QG3.png)

___

## Question 4:  Dans quels différents sports les Grecs ont-ils gagné des médailles ? - (Corentin L)
### Commande à exécuter :

```SQL
SELECT count(Medal)
FROM summer
WHERE Year = 2012 AND Country = "JPN"
```
Réponse : 84
    
![P3-QG3](Images/P3-QG3.png)

___

## Question 5:  Quel pays a remporté le plus de médailles d’or ? (Philippe)
### Commande à exécuter :

```SQL
SELECT Country, COUNT(Medal)
FROM summer
WHERE Medal = "Gold"
GROUP BY Country
ORDER BY COUNT(Medal) DESC
LIMIT 1
```
Réponse : USA ; 2235
    
![P3-QG5](Images/P3-QG5.png)

___

## Question 6: Combien de villes différentes ont accueilli les JO d’été entre 1896 - et 2012 ? (Yoann)
### Commande à exécuter :

```SQL
SELECT DISTINCT City
FROM summer
```
Réponse : 22
    
![P3-QG6](Images/P3-QG6.png)

___

## Question 7: Combien de femmes ont obtenu une médaille d’or ? (Lamia)
### Commande à exécuter :

```SQL
SELECT COUNT(*)
FROM summer
WHERE Gender = "Women" AND Medal = "Gold"
```
Réponse : 2788
    
![P3-QG7](Images/P3-QG7.png)

___

## Question 8: Combien de sports différents sont représentés par année ? (joris)
### Commande à exécuter :

```SQL
SELECT Year, COUNT(DISTINCT Sport)
FROM summer
GROUP BY Year
```
Résultat:
```SQL
Year	COUNT(DISTINCT Sport)
1896	9
1900	19
1904	16
1908	22
1912	14
1920	22
1924	17
1928	14
1932	14
1936	19
1948	17
1952	17
1956	17
1960	17
1964	19
1968	18
1972	21
1976	21
1980	21
1984	21
1988	23
1992	25
1996	26
2000	28
2004	28
2008	28
2012	26
```
    
![P3-QG8](Images/P3-QG8.png)

___

## Question 9: Combien de fois Londres a accueilli les J.O ? (Marvin)
### Commande à exécuter :

```SQL
SELECT DISTINCT Year, City
FROM summer
WHERE City = "London"
```
Résultat: 3 fois
```SQL
Year	City
1908	London
1948	London
2012	London
```
    
![P3-QG9](Images/P3-QG9.png)

___

## Question 10: Combien de joueuses comptait la sélection brésilienne de volley-ball - médaillée d’or aux J.O de 2012 ? (Corentin P)
### Commande à exécuter :

```SQL
SELECT COUNT(DISTINCT Athlete)
FROM summer
WHERE Year = 2012 AND Sport = "Volleyball" AND Country = "BRA" AND Medal = "Gold" AND Gender = "Women"
```
Résultat: 12
    
![P3-QG10](Images/P3-QG10.png)

___

## Question 11: Combien de femmes françaises ont participé en 2012 , quel sont leurs - médailles ? (izak)
### Commande à exécuter :

```SQL
SELECT count(DISTINCT Athlete) AS Athletes, count(Medal) AS Medal
FROM summer
WHERE Gender='Women' AND Country='FRA' AND Year=2012
```
Résultat: 29 Athlètes et 31 médailles
```SQL
Athletes	Medals
29	31
```
    
![P3-QG11](Images/P3-QG11.png)

Fin